@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2? family= Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600; 1.700;1.800 & família= Oswald:wght@200;300;400;500;600;700 & display=swap');



body {
    font-family: 'Open Sans', sans-serif;
    margin:0px;
}

header .line {
    background-color: #117050;
    height: 10px;
}

.container {
    max-height: 1140px;
    margin: auto;
}

.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header-rigth {
    display: flex;
    align-items: center;
}

.header-left img {
    height: 64px;
    width: 64px;
}

.header-search input {
    font-size: 18px;
    padding: 8px 15px;
    border: solid 1px #999;
    outline: 0;
    width: 100%;
    max-width: 250px;
}

.header-search form {
    display:flex;
}

.header-search button {
    border: 0;
    background: transparent;
    margin-left: -30px;
    cursor: pointer;
}

.header-search button img {
    width: 16px;
    height: 16px;
}

.header-menu {
    margin-left: 50px;
    cursor: pointer;
}

.header-menu img {
    width: 24px;
    height: 24px;
}